@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;

    &:hover {
        box-shadow: 0 5px 5px 5px rgba(variables.$blue1, .4);
        transform: scale(1.2);
    }

    &--primary {
        color: #fff;
        background-color: variables.$pink;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        text-align: center;
    }
}